<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Clientes</title>
    <link rel="stylesheet" type="text/css"  href="/estilo.css">
</head>
<body>
<div class="bar__head">
    <header class="Shead">
        <h1 class="Shead__h1"> XYZ Company</h1>
        <form class="Shead__h1-form" action="/clientesComprobantes">
            <input class="Shead__h1-form-input" type="submit" formaction="/index.html" value="Cerrar Sesión">
        </form>
    </header>
</div>
<main class="bar">
    <div class="navdiv">
        <nav>
            <ul>
                <li><a href="/home.html">Inicio</a></li>
                <li><a href="/productosTop.html">Productos Top</a></li>
                <li><a href="/inventario.html">Inventario</a></li>
                <li><a href="/clientes.html">Clientes</a></li>
                <li><a href="/ventas.html">Ventas</a></li>
            </ul>
        </nav>
    </div>
</main>
<div id="comprobante">
    <div class="bar">
        <h2>Coloque el nombre que del cliente que quiere buscar</h2>
        <input placeholder="Ingrese el nombre del cliente" v-model="name"/>
    </div>
    <div class="cajatabla">
        <select v-model="name2">
            <option value = "">Seleccione el tipo de producto que desea observar</option>
            <option>BOLETA</option>
            <option>FACTURA</option>
        </select>
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Total</td>
                <td>Tipo de Comprobante</td>
                <td>Ruc</td>
            </tr>
            </thead>
            <tr v-for="comprobante in comprobantes" v-if="name == comprobante.nombre.substring(0,name.length) && name2 == comprobante.tipo_comprobante">
                <td>{{comprobante.id_comprobante}}</td>
                <td>{{comprobante.nombre}}</td>
                <td>{{comprobante.total}}</td>
                <td>{{comprobante.tipo_comprobante}}</td>
                <td>{{comprobante.ruc}}</td>
            </tr>
            <tr v-for="comprobante in comprobantes" v-if="name == comprobante.nombre.substring(0,name.length) && name2.length == 0">
                <td>{{comprobante.id_comprobante}}</td>
                <td>{{comprobante.nombre}}</td>
                <td>{{comprobante.total}}</td>
                <td>{{comprobante.tipo_comprobante}}</td>
                <td>{{comprobante.ruc}}</td>
            </tr>
        </table>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#comprobante',
        data(){
            return{
                comprobantes: null,
                name:"",
                name2:""
               }
        },
    mounted(){
        axios.get('http://localhost:8080/clientesComprobantes')
            .then(response => (this.comprobantes = response.data))
        }
});
</script>
</body>
</html>