
html{
    background-image: url(/img/im2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Barlow', sans-serif;
}
.Sinicio{
    display: inline-block;
    padding:20px;
    width: 30%;
    height: 300px;
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 5px 5px #1a1a1a;
    margin-top: 150px;
    border: rgb(231, 231, 231);
}
.bodyindex{
text-align: center;
}
.Sinicio__form-input{
text-align: center;
width: 70%;
margin: 3%;
border-top:none;
border-right: none;
border-left: none;
background-color: transparent;
outline:none;
}
.Sinicio__form-input-b{
    display: inline-block;
    text-align: center;
    width: 115px;
    height: 30px;
    margin: 1.5% 30%;
    text-decoration: none;
    background-color: brown;
    border: rgba(145, 37, 37, 0.644);
    color: white;
    }
    .Sinicio__form-input-b:active{
        background-color: rgb(121, 30, 30);
    }

.Sinicio__p-a{
    text-decoration:none;
    color: blue;
}


.bar{
    background-color: rgb(243, 243, 243);
    margin: 5% 15%;
    border: 1px solid brown;
    box-shadow: 5px 5px 5px 5px black;
    text-align: center;
}
.bar__head{
    background-color: rgb(243, 243, 243);
    margin: 3% 30%;
    border: 1px solid brown;
    box-shadow: 5px 5px 5px 5px black;
}
.Shead__h1{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 250%;
}
.Shead__h1-form{
    display: inline;
    margin-left: 0%
}
.Shead__h1-form-input{
    display: inline-block;
    text-align: center;
    width: 115px;
    height: 40px;
    text-decoration: none;
    background-color: brown;
    border: rgba(145, 37, 37, 0.644);
    color: white;
}
.Shead__h1-form-input:active{
    background-color: rgb(121, 30, 30);
}
.Simg{
    display: inline-block;
}
.Simg__img{
    border-radius: 30px;
    border:1px black solid;
    margin:10% 0%;
}
.pdiv{
    text-align: center;
}


  nav ul{
      list-style-type: none;
      text-align: center;
  }
  nav li{
    display: inline;
    text-align: center;
  }
  nav li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
 }
.cajatabla {
margin: 150px
width: 600px;
background-color: white;
}
table{
background white;
text-align: left;
border-collapse: collapse;
width: 100%;
}

th, td{
padding: 20px;
}
thead{
background-color: #246355;
border-bottom: solid 5px;
color: white;
}
tr:nth-child(even){
background-color: #ddd;
}
.cajagrafico{
background-color:white;
}
.bar2{
    background-color: rgb(243, 243, 243);
    margin: 3% 15%;
    border: 1px solid brown;
    box-shadow: 5px 5px 5px 5px black;
    text-align: center;

}
label{
  display: inline-block ;
  width: 42%;
  margin-top: 10px;
  margin-bottom: 10px;
}