<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>Inspeccionar</title>
    <link rel="stylesheet" type="text/css"  href="/estilo.css">
</head>
<body>
<div class="bar__head">
    <header class="Shead">
        <h1 class="Shead__h1"> XYZ Company</h1>
        <form class="Shead__h1-form" action="/inventario">
            <input class="Shead__h1-form-input" type="submit" formaction="/index.html" value="Cerrar Sesión">
        </form>
    </header>
</div>
<main class="bar">
    <div class="navdiv">
        <nav>
            <ul>
                <li><a href="/home.html">Inicio</a></li>
                <li><a href="/productosTop.html">Productos Top</a></li>
                <li><a href="/inventario.html">Inventario</a></li>
                <li><a href="/clientes.html">Clientes</a></li>
                <li><a href="/ventas.html">Ventas</a></li>
            </ul>
        </nav>
    </div>
    <div id="elemento">
        <div>
            <label>Codigo del producto: </label>
            <div>
                <input type="number" v-model="cod" placeholder="Codigo del producto">
            </div>
        </div>
        <div>
            <div>
                <button v-on:click="verTabla">Inspeccionar</button>
            </div>
        </div>
        <div>
            <template v-if="tabla==true">
                <div class="cajatabla">
                    <table>
                        <tr>
                            <td>Codigo del producto: </td>
                            <td>{{productos.codigo}}</td>
                        </tr>
                        <tr>
                            <td>Nombre: </td>
                            <td>{{productos.nombre}}</td>
                        </tr>
                        <tr>
                            <td>Tipo de producto: </td>
                            <td>{{productos.tipo}}</td>
                        </tr>
                        <tr>
                            <td>Marca: </td>
                            <td>{{productos.marca}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad: </td>
                            <td>{{productos.cantidad}}</td>
                        </tr>
                        <tr v-if="productos.capacidad != null">
                            <td>Capacidad: </td>
                            <td>{{productos.capacidad}}</td>
                        </tr>
                        <tr v-if="productos.dimensiones != null">
                            <td>Dimensiones: </td>
                            <td>{{productos.dimensiones}}</td>
                        </tr>
                        <tr v-if="productos.ram != null">
                            <td>Ram: </td>
                            <td>{{productos.ram}}</td>
                        </tr>
                        <tr v-if="productos.procesador != null">
                            <td>Procesador: </td>
                            <td>{{productos.procesador}}</td>
                        </tr>
                        <tr v-if="productos.resolucion != null">
                            <td>Resolucion: </td>
                            <td>{{productos.resolucion}}</td>
                        </tr>
                        <tr v-if="productos.pantalla != null">
                            <td>Pantalla: </td>
                            <td>{{productos.pantalla}}</td>
                        </tr>
                        <tr v-if="productos.memoria != null">
                            <td>Memoria interna: </td>
                            <td>{{productos.memoria}}</td>
                        </tr>
                        <tr v-if="productos.memoriaChip != null">
                            <td>Chip de memoria: </td>
                            <td>{{productos.memoriaChip}}</td>
                        </tr>
                        <tr v-if="productos.tipoMemoria != null">
                            <td>Tipo de memoria: </td>
                            <td>{{productos.tipoMemoria}}</td>
                        </tr>
                        <tr v-if="productos.potencia != null">
                            <td>Potencia: </td>
                            <td>{{productos.potencia}}</td>
                        </tr>
                        <tr v-if="productos.precio != null">
                            <td>Precio: </td>
                            <td>{{productos.precio}}</td>
                        </tr>
                    </table>
                </div>
            </template>
        </div>
    </div>
</main>

<script>
    const inspect = new Vue({
    el: "#elemento",
    data: {
        cod: null,
        tabla: false,
        productos: null
    },
    methods: {
        verTabla: function(){
            this.tabla = true;
            axios.get("http://localhost:8080/inspeccionar",{
                params: {
                    codigoProducto: this.cod
                }
            })
            .then(response => this.productos = response.data)
        }
    }
});
</script>
</body>
</html>