<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Inventario</title>
    <link rel="stylesheet" type="text/css"  href="/estilo.css">
</head>
<body>
<div class="bar__head">
    <header class="Shead">
        <h1 class="Shead__h1"> XYZ Company</h1>
        <form class="Shead__h1-form" action="/inventario">
            <input class="Shead__h1-form-input" type="submit" formaction="/index.html" value="Cerrar Sesión">
        </form>
    </header>
</div>
<main class="bar">
    <div class="navdiv">
        <nav>
            <ul>
                <li><a href="/home.html">Inicio</a></li>
                <li><a href="/productosTop.html">Productos Top</a></li>
                <li><a href="/inventario.html">Inventario</a></li>
                <li><a href="/clientes.html">Clientes</a></li>
                <li><a href="/ventas.html">Ventas</a></li>
            </ul>
        </nav>
    </div>
</main>
<div id="dataInventario">
    <div class="bar">
        <h2>Coloque el nombre que del producto que quiere buscar</h2>
        <input placeholder="Ingrese el nombre del producto" v-model="name"/>
    </div>
    <div class="cajatabla">
        <select v-model="name2">
            <option value = "">Seleccione el tipo de producto que desea observar</option>
            <option>CELULAR</option>
            <option>LAPTOP</option>
            <option>LAVADORA</option>
            <option>MICROONDAS</option>
        </select>
        <table>
            <thead>
            <tr>
                <td>Codigo</td>
                <td>Nombre</td>
                <td>Tipo</td>
                <td>Marca</td>
                <td>Cantidad</td>
                <td>Precio</td>
            </tr>
            </thead>
            <tr v-for="dataInventario in inventarioT" v-if="name == dataInventario.nombre.substring(0,name.length) && name2 == dataInventario.tipo">
                <td>{{dataInventario.codigo}}</td>
                <td>{{dataInventario.nombre}}</td>
                <td>{{dataInventario.tipo}}</td>
                <td>{{dataInventario.marca}}</td>
                <td>{{dataInventario.cantidad}}</td>
                <td>{{dataInventario.precio}}</td>
            </tr>
            <tr v-for="dataInventario in inventarioT" v-if="name == dataInventario.nombre.substring(0,name.length) && name2.length == 0">
                <td>{{dataInventario.codigo}}</td>
                <td>{{dataInventario.nombre}}</td>
                <td>{{dataInventario.tipo}}</td>
                <td>{{dataInventario.marca}}</td>
                <td>{{dataInventario.cantidad}}</td>
                <td>{{dataInventario.precio}}</td>
            </tr>
        </table>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#dataInventario',
        data(){
            return{
                inventarioT: null,
                name:"",
                name2:""
               }
        },
    mounted(){
        axios.get('http://localhost:8080/inventario')
            .then(response => (this.inventarioT = response.data))
        }
});
</script>
<div>
    <form>
        <input type="submit" value="Agregar producto" formaction="/agregarProducto.html">
    </form>
</div>
<div>
    <form>
        <input type="submit" value="Eliminar producto" formaction="/eliminarProducto.html">
    </form>
</div>
<div>
    <form>
        <input type="submit" value="Inspeccionar producto" formaction="/Inspeccionar.html">
    </form>
</div>
</body>
</html>