<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Productos Top</title>
    <link rel="stylesheet" type="text/css"  href="/estilo.css">
</head>
<body>
<div class="bar__head">
    <header class="Shead">
        <h1 class="Shead__h1"> XYZ Company</h1>
        <form class="Shead__h1-form">
            <input class="Shead__h1-form-input" type="submit" formaction="/index.html" value="Cerrar Sesión">
        </form>
    </header>
</div>
<main class="bar">
    <div class="navdiv">
        <nav>
            <ul>
                <li><a href="/home.html">Inicio</a></li>
                <li><a href="/productosTop.html">Productos Top</a></li>
                <li><a href="/inventario.html">Inventario</a></li>
                <li><a href="/clientes.html">Clientes</a></li>
                <li><a href="/ventas.html">Ventas</a></li>
            </ul>
        </nav>
    </div>
</main>
<div id="proTop" class="cajatabla">
    <table>
        <thead>
        <tr>
            <td>Tipo de producto</td>
            <td>Ingreso total</td>
        </tr>
        </thead>
            <tr v-for="p in lista">
                <td>{{p.nombre}}</td>
                <td>{{p.precio}}</td>
            </tr>
    </table>
    <div class="cajagrafico">
        <canvas id="Grafico" width="400" height="400"></canvas>
    </div>
</div>
<script>
    const product = new Vue({
        el:"#proTop",
        data(){
            return{
                lista:null
            }
    },
    methods: {
            cargar:function(response){
                this.lista = response.data;
                var barras = document.getElementById("Grafico").getContext("2d");
                    var miGrafico = new Chart(barras,{
                        type:"bar",
                        lista: null,
                        data:{
                            labels:[this.lista[0].nombre,this.lista[1].nombre,this.lista[2].nombre,this.lista[3].nombre],
                            datasets:[{
                                label:"Productos más vendidos",
                                data: [this.lista[0].precio,this.lista[1].precio,this.lista[2].precio,this.lista[3].precio]
                            }]
                        }
                    });
            }
         },
    mounted(){
        axios.get("http://localhost:8080/productosTop")
        .then(response => (this.cargar(response)))
    }
    });
</script>
</body>
</html>